.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
  justify-content: center;
  align-items: center;
}

.content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.content div {
  margin: 10px 0;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "sidebar"
    "content"
    "footer";
}

@media (min-width: 700px) {
  .grid-wrapper {
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:
      "header  header  header"
      "sidebar content a"
      "sidebar content a"
      "footer  footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}

.main-footer {
  font-size: 0.7em;
}
